.calender{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    row-gap: 10px;
    column-gap: 10px;
    
    
}
.date{
    
    background-color: aqua;
    border: 10px;
    width: 50px;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 2em;
    
    
    
}
h1{
    text-align: center;
}
.date:hover{
    background-color: green;
    color: red;
}