.calender{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    row-gap: 10px;
    column-gap: 10px;
    
    
}
.date{
    
    background-color: aqua;
    border: 10px;
    width: 45px;
    height: 35px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
    
    
}
h1{
    text-align: center;
}